@import "./_variables.scss";
@import "./components/_notes-list.scss";

.notes-container {
  height: calc(100vh - 56px);
  overflow: auto;

  .notes {
    background-color: $notes-color;

    .notes-header {
      @apply flex items-center justify-between;
      background-color: $sidebar-color;
      border-left: solid 1px var(--ck-color-base-border);

      .notes-header-item {
        @apply inline-block px-4;
        border-right: solid 1px var(--ck-color-base-border);
      }
      .btn-create-note,
      .btn-save-note {
        @apply rounded-none;
      }
    }
  }
}
