@import "./_variables.scss";
@import "./components/_notes-list.scss";

.notes-container {
  @apply overflow-hidden relative flex;
  height: calc(100vh - 56px);

  #overlay {
    @apply fixed inset-0 bg-black/40 z-30;
  }
  .notes {
    @apply w-2/3;
    background-color: $notes-color;

    .notes-header {
      @apply flex items-center justify-between;
      background-color: $sidebar-color;
      border-left: solid 1px var(--ck-color-base-border);

      .notes-header-item {
        @apply inline-block px-4;
      }
      .btn-create-note,
      .btn-save-note {
        @apply rounded-none;
      }
    }
  }
  .notes-words-count {
    @apply lg:hidden fixed bottom-0 right-0 px-2 py-1 drop-shadow-lg;
    background-color: $sidebar-color;
  }
}
