@import "./_variables.scss";
@import "./components/_notes-list.scss";

.notes-container {
  @apply overflow-hidden relative flex;
  height: calc(100vh - 56px);

  .notes {
    background-color: $notes-color;

    .notes-header {
      @apply flex items-center justify-between;
      background-color: $sidebar-color;
      border-left: solid 1px var(--ck-color-base-border);

      .notes-header-item {
        @apply inline-block px-4;
      }
      .btn-create-note,
      .btn-save-note {
        @apply rounded-none;
      }
    }
  }
  .btn-notes-list-close {
    @apply absolute left-72 z-50 shadow-md;
  }
}
